<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="container">
        <div class="navigation">
            <div class="logo">

                <a href="#" routerLink="/"> SweetTaste <br> Dish</a>
               
             

            </div>
            <nav >
                <ul class="nav-links">
                    <li>
                        <a href="#"> Home</a>
                    </li>
                    <li>
                        <a href=""> About Us</a>
                    </li>
                    <li>
                        <a href=""> Food Menu</a>
                    </li>
                    <li>
                        <button class="nav-btn">

                            <a href="">Log In </a>
                        </button>
                    </li>
                    <li>
                        <a href=""> Cart</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
</body>
</html>
