<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header></app-header>
  <div class="main">
    <div class="wrapper">
      
      <div class="red-line"></div>
      <div class="home-content">
        <h1> Healthy <br> Tasty Dish <br> <span>For Healthy Life</span></h1>
        <p class="text-content">Your diet is a bank account. Good food choices are good investments.</p>
        <div >
          
          <button class="text-btn">Order Online</button>
          <button class="text-btn2">Book A Table</button>
        </div>
      </div>
    </div>
    <div class="img">
      <img src="../assets/Images/TesteDish.png" alt="TesteDish">
    </div>
  </div>
</body>
</html>